<div class="container">
<h3>{{Titulo}}</h3>
<div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th class="text-center">IdCliente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">NumeroDocumento</th>
            <th class="text-center">Tiene Trabajo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Items">
            <td>{{item.IdCliente}}</td>
            <td>{{item.Nombre | uppercase}}</td>
            <td>{{item.NumeroDocumento}}</td>
            <td>{{item.Tiene Trabajo}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>